<header class="d-flex flex-column flex-md-row p-3 border-bottom shadow-sm align-items-center">
    <h5 class="h5 font-weight-normal mr-md-auto">My Angular</h5>
    <nav>
        <a routerLink="/" class="p-2 text-dark">Home</a>
        <a routerLink="/profile" class="p-2 text-dark">Profile</a>
    </nav>
</header>
<main class="container">
    <div class="page-header px-3 py-3 mx-auto text-center">
      <h3 class="font-weight-normal text-center">{{title}}</h3>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-9">
        <table>
          <tbody>
            <tr>
              <td colspan="3">
                <h3 class="h3">Md. Abdus Sobhan</h3>
              </td>
            </tr>
            <tr>
              <td width="58px">Email</td>
              <td width="1%"><span style="padding-right:5px">:</span></td>
              <td>masiceiu@gmail.com</td>
            </tr>
            <tr>
              <td>Mobile</td>
              <td>:</td>
              <td>01724299726</td>
            </tr>
            <tr>
              <td>Address</td>
              <td>:</td>
              <td></td>
            </tr>
            <tr>
              <td>AToken</td>
              <td>:</td>
              <td>344ee94b2768aec2121193d351c821e251ef8a29</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-xs-12 col-md-3 " align="center">
        <!--ajax-dialog-->
        <div style="width: 150px; height: 160px;">
          <img data-holder-rendered="true" src="http://ictcarehome.com/uploads/profile_images/55c03b60d9be9.jpg"
            style="width: 150px; height: 160px;" data-src="holder.js/200x200" class="img-thumbnail" alt="Photo">
          <a id="change_photo2" href="http://ictcarehome.com/index.php/account/change_photo" class="change_photo "><i
              class="fa fa-camera">&nbsp;</i>Update Photo.</a>
        </div>
      </div>
      <!--
      <div class="col-md-12 col-xs-12">
        <span class="pull-right edit-profile"><a id="basic" class="edit" href="#">Cancel</a></span>
        <fieldset>
          <legend>Basic Info</legend>
          <div class="view-basic" style="display: none;"></div>
          <div class="edit-basic" style="display: block;">
            <form action="http://ictcarehome.com/index.php/account/profile" method="post" accept-charset="utf-8"
              class="form-horizontal form" role="form">
              <div class="form-group">
                <label class="col-xs-12 col-sm-2" for="full_name">Your Full Name</label>
                <div class="col-xs-12 col-sm-3">
                  <input type="text" id="first_name" class="form-control" name="first_name" value="Md."
                    placeholder="First Name" required="required">
                </div>
                <div class="col-xs-12 col-sm-3">
                  <input type="text" id="middle_name" class="form-control" name="middle_name" value="Abdus"
                    placeholder="Middle Name">
                </div>
                <div class="col-xs-12 col-sm-3">
                  <input type="text" id="last_name" class="form-control" name="last_name" value="Sobhan"
                    placeholder="Last Name" required="required">
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-12 col-sm-2" for="gender">Gender</label>
                <div class="col-xs-12 col-sm-9">
                  <select name="gender" id="gender" class="form-control" required="required">
                    <option value="">None</option>
                    <option value="1" selected="selected">Male</option>
                    <option value="0">Female</option>
                  </select> </div>
              </div>
              <div class="form-group">
                <label class="col-xs-12 col-sm-2" for="date_of_brith">Date of birth</label>
                <div class="col-xs-12 col-sm-9">
                  <input type="text" id="date_of_brith" class="form-control" name="date_of_brith" value="1986-09-09"
                    placeholder="Date of birth" required="required">
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-12 col-sm-2" for="email">Your primary email address</label>
                <div class="col-xs-12 col-sm-9">
                  <input type="email" id="email" class="form-control" name="email" value="masiceiu@gmail.com"
                    placeholder="Email address" required="required">
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-12 col-sm-2" for="Cell">Your primary mobile-no</label>
                <div class="col-xs-12 col-sm-9">
                  <input type="cell" id="cell" class="form-control" name="cell" value="01724299726"
                    placeholder="Mobile No">
                </div>
              </div>
              <button type="submit" id="update-b" class="btn btn-info pull-right">Update</button>
            </form>
          </div>
        </fieldset>
      </div>
      <div class="clarefix">&nbsp;</div>-->
  
      <div class="col-md-12 col-md-12"><span class="pull-right edit-profile"><a id="obj" class="edit"
            href="#">Cancel</a></span>
        <fieldset>
          <legend>Objective</legend>
          <div class="view-obj" style="display: none;"></div>
          <div class="edit-obj" style="">
  
          </div>
          <!--<span class="pull-right"><a id="cancel" href="#">Cancel</a></span>To be a successful Software Engineering that involves professional challenges, appreciates handwork and integrity in carrying out responsibilities.-->
        </fieldset>
      </div>
  
      <div class="col-md-12 col-xs-12">
        <fieldset>
          <legend>Employment History</legend>
          <!--<p><strong>Sr. Software Engineer(Continue) </strong></p>
                <p>Grameen Solutions Ltd</p>
              <p><em>Mirpur-2, Dhaka.</em></p>-->
        </fieldset>
      </div>
      <!--
        <div class="col-md-12 col-xs-12">&nbsp;</div>
  
      <div class="col-md-12 col-xs-12">
        <fieldset>
          <legend>Academic Qualification</legend>
  
        </fieldset>
      </div>
      <div class="col-md-12 col-xs-12">&nbsp;</div>-->
    </div>
  </main>
  <!--
  <div (collapsed)="collapsed($event)"
  (expanded)="expanded($event)"
  [collapse]="!isCollapsed"
  class="card card-block card-header">
  <div class="well well-lg">Some content</div>
  </div>
  <hr>
  <button type="button" class="btn btn-primary"
  (click)="isCollapsed = !isCollapsed">Toggle collapse
  </button>
  <hr>
  <div (collapsed)="collapsed($event)"
  (expanded)="expanded($event)"
  [collapse]="isCollapsed"
  class="card card-block card-header">
  <div class="well well-lg">Some content</div>
  </div>-->