.spinner {
    /*display: none;*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1080;
    cursor: pointer;
    background-color: rgba(0,0,0,0.5);
    opacity: .50;
}
.w3-spin{animation:w3-spin 2s infinite linear;}
@keyframes w3-spin{
    0%{transform:rotate(0deg)}
    100%{transform:rotate(359deg)}
}