<nav class="navbar float-right">
  <a routerLink="/my/home" routerLinkActive="selected">Home</a>
  <a routerLink="/my/server" routerLinkActive="selected">Server</a>
  <a routerLink="/my/user" routerLinkActive="selected">User</a>
  <a routerLink="/my/api" routerLinkActive="selected">API</a>
  <a routerLink="/my/duamunajat" routerLinkActive="selected">Dua Munajat</a>
  <a routerLink="/my/ayat" routerLinkActive="selected">Ayat</a>
  <a routerLink="/my/contacts" routerLinkActive="selected">Contacts</a>
  <a routerLink="/my/nodes" routerLinkActive="selected">Nodes</a>
  <a routerLink="/zikr" routerLinkActive="selected">Zikr</a>
  <a routerLink="/zikr/admin/members" routerLinkActive="selected">Members</a>
  
</nav>
<div class="details-view">
<router-outlet></router-outlet>
</div>
